body {
    font-family: -apple-system, 'Helvetica Neue', "Roboto", sans-serif, 'Open Sans';
    font-size: 0.9375rem;
    color: #191919;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.8em;
    background-color: #fff;
}

h1 {
    font-weight: 500;
    font-size: 2.6rem;
    margin: 0px;
    letter-spacing: .1rem;
}

h2 {
    font-size: 2.2rem;
    letter-spacing: .025rem;
    margin: 2.9rem 0px 0px 0px;
}

h3 {
    font-size: 1.74rem;
    margin: 4px 0px;
    letter-spacing: .06rem;
}

h4 {
    margin-top: 12px;
    font-size: 1.7rem;
}

p {
    font-size: 1.15rem;
    line-height: 1.45rem;
}

@media(max-width: 1200px) {
    h1 {
        font-size: 2.3rem;
    }

    h3 {
        font-size: 1.64rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    h4 {
        margin-top: 18px;
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }
}