body {
    font-family: -apple-system, 'Helvetica Neue', "Roboto", sans-serif, 'Open Sans';
    font-size: 0.9375rem;
    color: #191919;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.8em;
    background-color: #fff;
}

h1 {
    font-weight: 500;
    font-size: 2.6rem;
    margin: 0px;
    letter-spacing: .1rem;
}

h3 {
    font-size: 1.74rem;
    margin: 4px 0px;
    letter-spacing: .06rem;
}

@media(max-width: 1200px) {
    h1 {
        font-size: 2.3rem;
    }

    h3 {
        font-size: 1.64rem;
    }
}

// @media(max-width: 936px) {
//     h1 {
//         font-size: 2.1rem;
//         letter-spacing: .07rem;
//     }

//     h3 {
//         font-size: 1.6rem;
//         letter-spacing: .05rem;
//     }
// }