.app-section{
    min-height: 600px;
    width: 100%;
}
.app-screen{
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-screen-img{
    width: 100%;
    height: 600px;
    object-fit: contain;
}
.app-description-wrapper {
    height: 600px;
    padding-left: 80px;
    display: flex;
    align-items: center;
}
.app-description{
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: 500;
}